<!DOCTYPE html>
<html lang="en">
<title>Eklogi Poltical Database [BILL]</title>
<head>
    {% include 'common-header.html' %}
    <script type="text/babel" src="../static/js/bill.js"></script>
    <script src="../static/js/vis.min.js"></script>
    <link href="../static/css/vis.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="top-pane">
    {% include 'top-pane.html' %}
</div>
<div id="top-navbar">
    {% include 'top-navbar.html' %}
</div>

<div id="bill"></div>

</body>
</html>
