<!DOCTYPE html>
<html lang="en">
<title>Eklogi Poltical Database</title>
<head>
	{% include 'common-header.html' %}
</head>
<body>
	<div id="index-body">

		<div id="top-pane">
			{% include 'top-pane.html' %}
		</div>
		<div id="top-navbar">
			{% include 'top-navbar.html' %}
		</div>


		<!-- <div class="container">
			<h1>My First Bootstrap Page</h1>
			<p>This is some text.</p>
		</div> -->
		<div id="splash-content-holder">
			<div id="splash-image"></div>
	    <div id="splash-bg"></div>
			<div class="container">
			<div id="splash-carousel" class="carousel slide" data-ride="carousel">

				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#splash-carousel" data-slide-to="0" class="active"></li>
					<li data-target="#splash-carousel" data-slide-to="1"></li>
					<li data-target="#splash-carousel" data-slide-to="2"></li>
					<li data-target="#splash-carousel" data-slide-to="3"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">

					<div class="item active">
						<div class="jumbotron splash-carousel-item">
					    <h1><a href="/members">Explore Members</a></h1>
							<h4>Find details on Congressmen and Congrwesswomen, their voting history, and committee membership.</h4>
					  </div>
					</div>


					<div class="item">
						<div class="jumbotron splash-carousel-item">
					    <h1><a href="/committees">Explore Committees</a></h1>
							<h4>View membership data for the various committees in the House and Senate, as well as bills deliberated by each committee.</h4>
					  </div>
					</div>

					<div class="item">
						<div class="jumbotron splash-carousel-item">
					    <h1><a href="/bills">Explore Bills</a></h1>
							<h4>View the bills progressing through the 115th Congress, committee and sponsor data, and a timeline of each bill's progress.</h4>
					  </div>
					</div>

					<div class="item">
						<div class="jumbotron splash-carousel-item">
					    <h1><a href="/votes">Explore Votes</a></h1>
					    <h4>View voting breakdowns by party for bills and motions in the Senate
								and House, the votes of individual Congresspersons, or a voting breakdown by state / district.</h4>
					  </div>
					</div>

				</div>
			</div>
			</div>
		</div>




	</div>
</body>
</html>
